body{
    
}
.navbar-changed{
background-color: white;
    padding-bottom: 30px;
    padding-top: 10px;
    border-color: rgb(54,101,194);
    border-left-width: 8px;
    border-right-width: 8px;
    border-radius: 0px;
    border-top-width: 3px;
    margin-bottom: 0px;
}
.logo{
    width: 80%;
    
}
.logo-heading{
  color: rgb(27,92,170);
    padding-left: 0px;
    font-weight: bold;
}
.ministry{
    color: rgb(27,92,170);
    font-family: serif;
    font-weight: bold;
}
.navbar-head-changed{
    min-height: 20px;
    background-color: rgb(54,101,194);
    border-radius: 0px;
    margin-bottom: 0px;
    
    
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    background-color: rgb(54,101,194);
    color: white;
    padding: 0px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    margin-right: 0px;
    font-weight: bold;
    margin-left: 15px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(54,101,194);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 12px;
    padding-left: 5px;
    padding-bottom: 5px;margin-bottom: 10px;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom:5px;
}

.dropdown-content a:hover {
    background-color: rgb(54,101,194);
    color:black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color:rgb(54,101,194);
}
.first-list{
    color:white;
    font-size: 12px;
    font-weight: bold;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}
.nav>li>a{
    padding:0px;
}
.nav-changed-again{
    background-color: rgb(235,244,251);
    border-color: transparent;
    border-radius:0px;
    min-height: 40px;
    margin-bottom: 0px;
}
.dropbtn2{
    background-color: rgb(235,244,251);
    color: black;
    border-color: blue;
    width: 140px;
    height: 35px;
    border-radius: 0px;
    border: 1px solid rgb(168,209,250);
    margin-left: 0px;
    margin-right: 0px;
}
.content2{
     display: none;
    position: absolute;
    background-color: rgb(235,244,251);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 12px;
    padding-left: 5px;
    padding-bottom: 5px;
    
}
.content2 a {
   color: black;
    text-decoration: none;
    display: block; 
    padding-top: 5px;
    padding-bottom: 5px;
}
.content2 a:hover {
    background-color: rgb(168,209,250);
    
}
.dropdown:hover .content2 {
    display: block;
}

.dropdown:hover .dropbtn2 {
    background-color:rgb(168,209,250);
}
.well-modified{
    border-radius:0px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
   
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background: linear-gradient(to bottom, white,rgb(198,222,255));
    color:black;
    border-radius:0px;
    font-weight: bold;
}
.nav-pills>li>a {
    border-radius: 0px;
    color: black;
    font-size: 12px;
    background: linear-gradient(to bottom, rgb(214,231,255),white);
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 5px;
    border:1px solid rgb(168,209,250);
}
.plan{
    padding-bottom: 10px;  
    margin-left: 0px;
}
.border-bottom{
    border-bottom: 3px solid rgb(198,222,255);
}
.label{
    font-size: 12px;
    color: black;
    margin-left: 0px;
    font-weight: 100;
}
.input-type{
  height: 20px;
    border-radius: 0px;
    /* color: black; */
    background-color: rgb(246,249,254);
    font-size: 12px;
    border: 1px solid rgb(198,222,255);
    color: black;  
}
.flexible{
    font-size:12px;
    color:rgb(46,100,254);
    font-weight: bold;
}
.submit{
    height: 20px;
    font-size: 12px;
    width: 50px;
    padding-top: 2px;
    padding-left: 3px;
    border-radius: 0px;
    border: 1px solid rgb(168,209,250);
    background-color:rgb(198,222,255);
    
}
.btn-default:hover{
    background-color:rgb(168,209,250);
}
.panel-info> .panel-heading-changed {
    height: 20px;
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 0px;
    margin: 1px;
    
}
.panel-info-changed{
     margin-top: 10px;
    border-radius: 0px;
    margin-bottom: 0px;
}
.navbar-body{
        height: 25px;
    color: white;
}
.body-heading{
    font-size: 12px;
    font-weight: bold;
    padding-top: 0px;
    margin-top: 5px;
}
.table-heading{
    font-size: 12px;
    font-weight: bold;
    color: rgb(11,104,184);
}
.table>thead>tr>th {
    padding: 2px;
}
.table>tbody>tr>td{
        padding: 1px;
    font-size: 12px;
}
.modal-title{
    font-size: 12px;
    background-color: rgb(168,209,250);
    font-weight: bold;
}